// Settings for EDgrid
$dev        : false;
$cssCore    : false;
$cssHelpers : true;
$container  : nuxt-container;
$item       : nuxt-item;
$max-width  : 1344px;
$gutter     : 1rem;

//layout
:root {
  --header-height : 3rem;
  --max-width     : 1344px;
  --gutter        : 1rem;
}

// Colors
$firstColor     : #334B5D;
$firstColorAlt  : #25343E;
$secondColor    : #00B886;
$secondColorAlt : #208071;
$thirdColor     : #FF3C32;
$thirdColorAlt  : #FF2419;
$accentColor    : #FBA905;
$accentColorAlt : #F1A000;
$darkColor      : #282D31;
$borderColor    : #DFE0E0;
$textColor      : #4E6584;
$bodyBg         : #FAFDFF;

:root {
  --first-color      : #334B5D;
  --first-color-alt  : #25343E;
  --second-color     : #00B886;
  --second-color-alt : #208071;
  --third-color      : #FF3C32;
  --third-color-alt  : #FF2419;
  --accent-color     : #FBA905;
  --accent-color-alt : #F1A000;
  --dark-color       : #282D31;
  --border-color     : #DFE0E0;
  --text-color       : #4E6584;
  --body-bg          : #FAFDFF;
}

// z-ndex
$z-back    : -10;
$z-normal  : 1;
$z-tooltip : 10;
$z-fixed   : 100;
$z-modal   : 1000;

:root {
  --z-back    : -10;
  --z-normal  : 1;
  --z-tooltip : 10;
  --z-fixed   : 100;
  --z-modal   : 1000;
}

// Images path
$svg-path: 'http://ux.ed.team/img';
