// Config
@import "./config/variables";
@import "./config/_functions";

//Funciones para convertir px a em y rem
@import "../../node_modules/ed-grid/components/functions";

// Variables globales (puede sobreescribirlas antes de importar ED grid)
// No las sobreescriba aquí, sino desde su proyecto.
  $cssCore    : true  !default; //Compila todo el css (no recomendado si se trabaja con sass).
  $cssHelpers : true  !default; //Ayudas extras para el layout (para alinear elementos, limpiar los floats, controlar el padding, etc...) Se recomienda activarlo.
  $devMode    : false !default; //Ayuda visual que nos permite ver en el navegador breakpoints, el tamaño de los elementos, el area disponible etc... 

// Selectores (clases) para flex-container y flex-item

  $container : ed-container !default; // Permite modificar el nombre de las clases usadas como contenedor e item.
  $item      : ed-item !default;

// Ancho máximo para los contenedores
  $max-width : 1200px !default;

// Seperación horizontal entre items (*2)
  $gutter : em(15px) !default;

// Breakpoints
  $breakpoints : (
    s  : 0,
    m  : 640px,
    l  : 1024px,
    xl : 1440px
  ) !default;

// Fracciones para calcular anchos de los items
  $fractions : 3 6 !default;

// Mixins Locales
@import "./config/mixins";
@import "./config/typography";
@import "./config/buttons";

// Librarie Mixins EDgrid
@import "../../node_modules/ed-grid/components/media-queries";   // mixins from(), to(), fromTo()
@import "../../node_modules/ed-grid/components/helpers";         // utilidades
@import "../../node_modules/ed-grid/components/grid";            // mixin grid()
@import "../../node_modules/ed-grid/components/visibility";      // mixins para visibilidad
@import "../../node_modules/ed-grid/components/ed-menu";         // estilos para menus
@import "../../node_modules/ed-grid/components/flexbox";         // utilidades con flexbox
@import "../../node_modules/ed-grid/components/offset";          // offsets
@import "../../node_modules/ed-grid/components/buttons";         // mixin button()