<template lang="pug">
  .nuxt-item.form__item
    label(v-text="label")
    select(v-model="selected")
      option(disabled value="" v-text="label")
      slot
    span(v-show="selected !=''")
      span Se seleciono: 
      span(v-text="selected")
</template>
<script>
export default {
  data() {
    return{
      selected: ''
    }
  },
  props:{
    label:{
      type: String,
      default: 'Agrege su atributo label=""'
    },
    model:{
      type: String,
      default: ''
    }
  }  
}
</script>
<style lang="scss">
  form{
    select{
      appearance: none;
      background: #fff svg('arrow.svg') center right 1rem/1rem no-repeat !important;
    }
  }
</style>

