<template lang="pug">
  .nuxt-item.form__item
    slot
    input(:type="type" :disabled ="disabled")
</template>
<script>
export default {
  props: {
    type:{
      type: String,
      default: 'text'
    },
    disabled: ''
  }
}
</script>

<style lang="scss">

</style>
