<template lang="pug">
  .nuxt-item.form__item
    textarea(:placeholder="placeholder")
</template>
<script>
export default {
  props: {
    placeholder: {
      type: String,
      default: 'Escriba su mensaje'
    }
  }
}
</script>
<style lang="scss">
form{
  textarea {
    min-height : 6em;
  }
}
</style>


