<template lang="pug">
  label
    input(type="radio" :name="name")
    | 
    slot
</template>
<style lang="scss">

</style>
<script>
export default {
  props: {
    name: {
      type: String,
      default: ''
    }
  }
}
</script>

