<template lang="pug">
  button(v-if="href==''" 
    :class="'button--' + color"
  )
    slot
  nuxt-link(v-else 
    :class="'button--' + color" 
    :to="href"
  )
    slot
</template>
<style lang="scss">
  /*
  * Button definitions at config/_buttons.scss
  */
  // Basic buttons
  .button,
  [class*="button--"]{
    line-height: 1.6;
    @include button;
    &.center        { @include button-center }
    &.full          { @include button-full }
    &.big           { font-size: fontSize(title3) }
    &.small         { @include button-small }
    &.last          { @include button-last }
  }
  // Buttons variations
  .button--alert    { @include button-alert }
  .button--accent   { @include button-cta }

  // Ghost buttons
  [class*="button--ghost"]  { @include button-ghost }
  .button--ghost--alert     { @include button-ghost-alert }
  .button--ghost--accent    { @include button-ghost-cta }

  // Show buttons in style guide
  .show-buttons {
    .button, [class*="button--"] {
      //margin-bottom : 2rem;
    }
  }
  [type="submit"] {
    margin : 0 !important;
  }
</style>
<script>
export default {
  props: {
    color: {
      type: String,
      default: ''
    }, // {'','accent', 'alert', 'ghost--alert','ghost--accent'}
    href: {
      type: String,
      default: ''
    }   // if you use the href property, the component will become a '<a>' tag
  }
}
</script>
