<template lang="pug">
  div.main-banner(:class="'main-banner--' + color")
    .nuxt-container
      .nuxt-item.l-75.to-center
        img.main-banner__img(:src='src')
        .main-banner__data
          slot
</template>
<style lang="scss">
  .main-banner {
    background    : $firstColor;
    color         : #FFF;
    clip-path     : polygon(0 0, 100% 0, 100% 100%, 0 94%);
    margin-bottom : 4rem;
    position      : relative;

    // Separación del contenido
    padding       : 2rem 0 3rem;
    @include from(l) { padding: 8rem 0 10rem }

    &.main-banner--secondary { background : $secondColor  }
    &.main-banner--tertiary  { background : $thirdColor  }
    &.main-banner--accent    { background : $accentColor }
    &.main-banner--dark      { background : $darkColor   }
  }

  .main-banner__img {
    position   : absolute;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 100%;
    object-fit : cover;
    opacity    : .1;
  }

  .main-banner__data {
    position      : relative;
    text-align    : center;
  }

  .main-banner__author {
    color: #fff;
    margin-top : -1.5rem;

    a {
      color: inherit;
    }

    &-img {
      width : 6rem;
      height : 6rem;
      border-radius : 50%;
      border : 2px solid;
      display : block;
      margin : 0 auto;
    }

    &-name {
      font-size : fontSize(small);
    }
  }
</style>
<script>
export default {
  props: {
    src: {
      type: String,
      default: 'https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb'
    },
    color: {
      type: String,
      default: ''
    }
  }
}
</script>

