<template lang="pug">
  aside.nuxt-item.l-25.main-sidebar.sidebar-first
    #vertical-menu-toggle.vertical-menu-toggle.to-l(data-content='Filtros')
    nav#vertical-menu.vertical-menu
      ul
        li(v-for="link in mainmenu")
          nuxt-link(:to="'/style-guides' + link.href" v-text="link.title")
</template>
<style lang="scss">
.vertical-menu-toggle {
  background-size : 100% 34%;
  color: $firstColor;
  font-size : fontSize(small);
  @include to(l) {
    display : flex;
  }
  &::before {
    content: "";
    display : block;
    width : .5em;
    height : 1.2em;
    background-image: radial-gradient(circle, $textColor 2px, transparent 2px);
    background-size : 100% 34%;
    margin-right : .2em;
  }
  &::after {
    content: attr(data-content)
  }
}

.vertical-menu {
  border-right : 1px solid $borderColor;

  @include to(l) {
    max-height : 0;
    transition: max-height .5s;
    overflow : hidden;

    &.show {
      max-height : 1000px;
      margin-bottom : 1em;
    }

    .active::before {
      display : none;
    }
  }

  ul {
    @include clearMenu;
  }

  li {
    padding : .4em 0;
    border-bottom : none;
    font-size : fontSize(small);
    color: $textColor;
  }

  a {
    color: inherit;
    display : block;

    &.nuxt-link-exact-active {
      display : flex;
      justify-content: space-between;
      align-items: center;
      color: $thirdColor;

      &::after {
        content: '';
        display : block;
        width : 1rem;
        height : 1rem;
        background : img('icon-right.svg') center right / contain no-repeat;
      }

      &:hover {
        text-decoration : none;
      }
    }
  }

  .nuxt-link-exact-active {
    border-bottom: 1px solid $borderColor;
    border-top: 1px solid $borderColor;
    margin-right: -1px;
    padding: .5em 0;
    border-right: 1px solid $bodyBg;

    &::after {
      background : img('icon-right.svg') 100% / contain no-repeat !important;
      margin-right : 1rem;
    }
  }
}
</style>
<script>
export default {
  data() {
    return{
      mainmenu: [
        {
          title: 'Inicio',
          href: '/'
        },
        {
          title: 'Tipografia',
          href: '/tipografia',
        },
        {
          title: 'Botones',
          href: '/botones',
        },
        {
          title: 'Tablas',
          href: '/tablas',
        },
        {
          title: 'Listas',
          href: '/listas',
        },
        {
          title: 'Formularios',
          href: '/formularios',
        },
        {
          title: 'Cards',
          href: '/cards',
        },
        {
          title: 'Post',
          href: '/post',
        },
        {
          title: 'Banner',
          href: '/banner',
        },
        {
          title: 'Top bar',
          href: '/topbar',
        },
        {
          title: 'Modal',
          href: '/modal',
        },
        {
          title: 'Tabs',
          href: '/tabs',
        },
        {
          title: 'Iconos',
          href: '/iconos',
        },
        {
          title: 'Video',
          href: '/video-class',
        }
      ]
    } 
  },
  mounted() {
    
  }
}
</script>


