<template lang="pug">
  header.main-header
    .nuxt-container.full
      .nuxt-item.s-80.l-25.cross-center
        main-logo
      main-menu        
</template>

<style lang="scss">
  .main-header {
    height        : var(--header-height);
    border-bottom : 1px solid $borderColor;
    display       : flex;
    align-items   : center;
    background    : #FFF;
    position      : fixed;
    top           : 0;
    width         : 100%;
    left          : 0;
    z-index       : $z-fixed;
  }
</style>
<script>
import MainLogo from '~/components/MainLogo.vue'
import MainMenu from '~/components/MainMenu.vue'
  export default {
    components: {
      MainLogo,
      MainMenu
    }
  }
</script>
