<template lang="pug">
  form
    div.nuxt-container
      slot
</template>
<script>
export default {
  props:{
    container: ''
  }
}
</script>

<style lang="scss">
form {

  .form__item {
    margin-bottom : 2rem;
  }

  input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), select, textarea {
    display       : block;
    border        : 1px solid $borderColor;
    background    : #FFF;
    width         : 100%;
    line-height   : 1.6;
    font-family   : $body-font; // Fuerza a tomar la fuente por defecto
    font-size     : fontSize(small);
    color         : $textColor;
    border-radius : .25rem;
    padding       : .5rem 1rem;
    &::placeholder {
      color : rgba($textColor, .75);
    }
    &:disabled {
      background :$borderColor;
      cursor: default;
    }


  }

  label {
    position: relative;
    display       : block;
    font-size     : fontSize(small);
    margin-bottom : .2em;
    + input::placeholder {
      display : none;
    }
  }

  //.checkbox-container,
  //.radio-container {
  //  margin-bottom : 1.4rem;
  //
  //  label {
  //    display : table;
  //    color   : $textColor;
  //  }
  //}
}
</style>
