<template lang="pug">
  div
    main-header
    main-banner(color="secondary" src="https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb")
      h1 EDteam Styleguides in NuxtJs
      p.subtitle La presente guía de estilos define los componentes de diseño de EDteam y cómo implementarlos en nuestros productos.
      app-button(color="accent" class="small center" ) Modelo de botón
    .nuxt-container.main-section.l-section
      main-sidebar
      nuxt
</template>
<style lang="scss">
  .page-enter-active, .page-leave-active {
    transition: all 0.5s;
  }
  .page-enter{
    transform: translateX(-100%);
  } 
  .page-leave-active {
    opacity: 0;
    transform: translateX(100%);    
  }
</style>
<script>
  import MainHeader from '~/components/MainHeader.vue'
  import MainSidebar from '~/components/MainSidebar.vue'

  export default {
    components: {
      MainHeader,
      MainSidebar
    },
    mounted() {
      const menu = (toggleId, navId) => {
      const toggle = document.getElementById(toggleId),
            nav = document.getElementById(navId);
      if (toggle && nav) {
        toggle.addEventListener('click', () => {
          nav.classList.toggle('show');
          if(navId === 'main-menu') document.body.classList.toggle('main-menu-visible');
        })
      }
    };

    menu('main-menu-toggle', 'main-menu');
    menu('vertical-menu-toggle', 'vertical-menu');

    const activeMenuItem = containerId => {
      let links = [...document.querySelectorAll(`#${containerId} a`)];
      const curentUrl = document.location.href;
      links.map( link => {
        if (link.href === curentUrl) {
          link.classList.add('active')
        }
      });
    };
    activeMenuItem('vertical-menu');
    }
  }
</script>
