<template lang="pug">
  main.nuxt-item.l-75.main-main
    h1 Formularios
    p Para maquetar formularios utilice EDgrid, aplicando la clase <code>nuxt-container</code> a la etiqueta <code>form</code>
      | y encerrando los componentes del formulario dentro de los <code>nuxt-item</code> que se requieran.
    p Se recomienda usar label o placeholder, pero no ambos.
    p Los inputs de tipo radio o checbox deben ser hijos directos de la etiqueta <code>label</code>
    p Use la clase <code>form__item</code> o <code>form-item</code> para encerrar los campos y crear las separaciones verticales.

    h2 Modelo de formulario
    main-form
      form-input.l-40 Nombre de usuario
      form-input.l-60(type="password") Contraseña
      form-input(disabled) Alias (Disabled)
      .nuxt-item.l-30.form__item
        p.small Ejemplos de checkbox
        form-checkbox Elige esta opcion
        form-checkbox Elige esta opcion
      .nuxt-item.l-70.form__item
        p.small Ejemplos de radio buttons
        form-radio(name="radio") Elige esta opcion
        form-radio(name="radio") Elige esta opcion
      form-select(label="Selecciona tu país")
        option Bolivia
        option Argentina
        option Perú
        option México
      form-text-area(placeholder="Escriba su mensaje")
      .nuxt-item.form__item
        app-button.full(type="submit") Enviar
</template>
<style lang="scss">
code {
  color   : $thirdColor;
  display : inline-block;
  border  : 1px solid $borderColor;
  padding : .1em .5em;
  margin  : 0 .5em;
  font-family : monospace;
}

pre code {
  display : block;
  border : none;
}

:not(pre) code {
  font-family : Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  background : rgba($borderColor,.5);
  font-size: fontSize(small);
  padding : 0 .3em;
  margin-right: .2rem;
  word-break: break-all;
}
</style>
<script>
import MainForm from '~/components/MainForm.vue'
export default {
  components: {
    MainForm
  }
}
</script>
