<template lang="pug">
	main.nuxt-item.l-75.main-main
		p Esta guia define el concepto visual, patrones de diseño y estructura para proyectos web en EDteam.
		p Esta guia se encuentra en constante actualización.

		h2 Colores
		.colors
			.color(v-for="color in colors")
				.color__sample(:class="'color' + color.class")
				.color__info.smaller
					p.color__name(v-text="color.title")
					p.color__code(v-text="color.property")
					p.color__code 
						code(v-text="color.var") $firstColor

		h2 Tipografía

		p EDteam utiliza dos familias tipográficas en web, logotipo, posters y demás elementos gráficos

		ul.data-list
			li
				strong Open Sans (700)
				br
				span.small Encabezados, logo de EDteam y otros logos (EDgrid p.ej.) <code>$body-font</code>
			li
				strong Lato (400, 400i, 700)
				br
				span.small Contenidos, párrafos <code>$heading-font</code>
		p 
			| En la sección de 
			nuxt-link(to="/style-guides/tipografia") tipografía 
			| se explica detalladamente su uso.
</template>
<style lang="scss">
	.colors {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-gap: 1.5em;
  margin-bottom: 2em;
}

.color {
  &__sample {
    padding-bottom: 100%;
    height: 0;
    &.color--body {
      border : 1px solid $borderColor;
    }
  }

  &--primary { background: $firstColor; }
  &--secondary { background: $secondColor; }
  &--tertiary { background: $thirdColor; }
  &--accent { background: $accentColor; }
  &--dark { background: $darkColor; }
  &--border { background: $borderColor; }
  &--text { background : $textColor; }
  &--body { background : $bodyBg; }

  &__info {
    text-align: center;
    border: 1px solid $borderColor;
    border-top: none;
    padding: 1em;
    background : #fff;
  }

  &__name,
  &__code {
    margin: 0;
  }

  &__name {
    font-weight: 700;
  }
}
</style>
<script>
export default {
	data() {
		return {
			colors: [
				{
					title: 'Principal',
					property: 'no found',
					var: '--first-color',	       	
					class: '--primary'
				},
				{
					title: 'Secundario',
					property: 'no found',
					var: '--second-color',
					class: '--secondary'
				},
				{
					title: 'Terciario',
					property: 'no found',
					var: '--third-color',
					class: '--tertiary'
				},
				{
					title: 'Enfasis',
					property: 'no found',
					var: '--accent-color',
					class: '--accent'
				},
				{
					title: 'Oscuro',
					property: 'no found',
					var: '--dark-color',
					class: '--dark'
				},
				{
					title: 'Bordes',
					property: 'no found',
					var: '--border-color',
					class: '--border'
				},
				{
					title: 'Texto',
					property: 'no found',
					var: '--text-color',
					class: '--text'
				},
				{
					title: 'Body bg',
					property: 'no found',
					var: '--body-bg',
					class: '--body'
				}
			]
		}
	},
	mounted() {
		for(let i=0; i< this.colors.length ;i++){
			this.colors[i].property = getComputedStyle(document.documentElement).getPropertyValue(this.colors[i].var)
			console.log(this.colors[i].property)
		}
	}
}
</script>
